<div class="center">

	<h1>Sign In</h1>
	<div class="form-container">
		<% if flash[:error] %>
			 <p><%= flash[:error] %></p>
			<% end %>
			<%= simple_form_for(:session, :url =>sessions_path)  do |f| %>
			  <%= f.input :email %>
			  <%= f.input :pw %>
			  <%= f.button :submit %>
		<% end %>
	</div>
	<p><em>Sign in as admin</em></p>
</div>
