<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="wrapper">
		<div id="main-nav">
			<ul>
				<li><h3>SLOG</h3></li> |
				<li>Trails</li> |
				<li>Social</li> |
				<li>Forums</li> |
			</ul>
		</div>
	</div> <!--wrapper-->
	<div class="center">
		<h1>Sign In</h1>

	<% if flash[:error] %>
		 <p><%= flash[:error] %></p>
		<% end %>
		<%= simple_form_for(:session, :url =>sessions_path) do |f| %>
		  <%= f.input :email %>
		  <%= f.input :pw %>
		  <%= f.button :submit %>
		<% end %>
	</div>

	<div id="footer">
		<%= link_to 'Back', users_path %> |
		<%= link_to 'Home', root_path %>
	</div>


</body>
</html>

