<provide(:title, "Become a SLOG and start planning hikes easily now!")>
<div id="login-center">
	<h1>Create Your Account</h1>
		<div class="form-space">
			<div class="forms">
				<%= simple_form_for (@user) do |f| %>
				  <%= f.input :username %> </br>
				  <%= f.input :email %> </br>
				  <%= f.input :password %> </br>
				  <%= f.input :password_confirmation %> </br>
				  <%= f.button :submit %>
				<% end %>
			</div>
		</div>
</div>
