<% provide(:title, "SLOG Home Panel") %>
<div id="user-home-panel">
	<p id="notice"><%= notice %></p>
	<div class="column-3" id="user-info">
		<h2><%= @user.username %></h2>
		<%= image_tag("profile_placeholder.png") %>
		</br>
		<p>Region: Vancouver </p>
		<p>Hikes Done: 7</p>

		</br>
		<h3>Current Weather</h3>
		<p>It is <%= to_celcius(@weather_lookup.temperature) %>°C degrees in Vancouver, BC!</p>
		<%= image_tag @weather_lookup.icon %>
		<div id="upcoming-events">
			<h3>Upcoming Events</h3>
			<div class="event-item">
				<h4><%= link_to "TGIF", controller: :events, action: :index %></h4>
				<p class="time-stamp">2015 November 5</p>
				<p>Where: Elk Mountain</p>
			</div>
			<div class="event-item">
				<h4><%= link_to "Weekend Hike", controller: :events, action: :index %></h4>
				<p class="time-stamp">2015 December 15</p>
				<p>Where: Elephant Lake</p>
			</div>
		</div>
	</div>

	<div class="column-2-3" >
		<h3>Your Hikes</h3>
		<div id="user-map-container" >
			<div id="user-map-canvas"></div>
		</div>
		</br></br>
		</br>

		<div class="feed-item">
	 	<% if @user.microposts.any? %>
		 <h3>BLOG: (<%= @user.microposts.count %>)</h3>
		 <ol class="microposts">
			 <%= render @microposts %>
		 </ol>
		 <%= will_paginate @microposts %>
	 	<% end %>
	 	</br></br></br>
		<% if current_user?(User.find(params[:id])) %>
  		<div class="row">
    		<aside class="col-md-4">
<!--       		<section class="user_info">
						<h1><%= current_user.username %></h1>
							<span><%= link_to "view my profile", current_user %></span>
							<span><%= pluralize(current_user.microposts.count, "micropost") %></span>
      		</section> -->
      		<h3>Update</h3>
      		<section class="micropost_form">
						<%= simple_form_for(:micropost, :url =>microposts_path)  do |f| %>
  						<div class="field">
    						<%= f.input :content, as: :text, :label => "Your Comment" %>
  						</div>
  						</br>
  						<%= f.button :submit, "Post" %>
						<% end %>
      		</section>
    		</aside>
  		</div>
			<% end %>
 		</div>
	</div>
<!-- 	<div class="column-3" id="user-feed">
		<div class="feed-item">
			<h4>Hey there I am a feed.</h4>
			<p>Some feed goes here. I am not sure what will go here right now. Sample text will be the same for each user?</p>
			<p class="time-stamp">2015 Novemeber 5 | </p>
		</div>
		<div class="feed-item">
			<h4>I am another feed item.</h4>
			<p>Perhaps upcoming events? Public events? New hikes that have been added to the archive?</p>
			<p class="time-stamp">2015 Novemeber 5 | </p>
		</div>
	</div>

	<div class="column-3" id="user-options">
		<ul id="user-buttons">
			<li><h2><%= link_to 'View Hikes', :controller => :hikes, :action => :index   %></h2></li>
			<li><h2><%= link_to 'Events', :controller => :events, :action => :index    %></h2></li>
			<li><h2><%= link_to 'Forums', user_path %></h2></li>
			<li><h2><%= link_to 'Groups', user_path %></h2></li>
		</ul>
	</div> -->

</div>
