<div class="center">
		<div class="form-space">
			<div class="form-container">
				<%= simple_form_for (@hike) do |f| %>
				<%= f.input :name %> </br>
				<%= f.input :region %> </br>
				<%= f.input :distance %> </br>
				<%= f.input :difficulty %> </br>
				<%= f.input :grade %> </br>
				<%= f.input :open_date %> </br>
				<%= f.input :close_date %> </br>
				<%= f.button :submit %>
				<% end %>
			</div>
		</div>
</div>