<h1><%= @hike.name %> </h1>
<div class="center">
	<div id="hike-banner"></div>
	<div id="map-container" >
		<div id="map-canvas"></div>		
		</br>
	</div>
	<div class="column-2" id="hike-show" >		
		<h2>Region: </h2><p><%= @hike.region %> </p></br>
		<h2>Rating: </h2><p><%= @hike.rating %> </p></br>
		<h2>Difficulty: </h2><p><%= @hike.difficulty %> </p></br>
		<h2>Distance: </h2><p><%= @hike.distance %>km </p></br>		
	</div>
	<div id="hike-info">
		<h3>About <%= @hike.name %></h3>
		<p>
			Description Needed
		</p>
	</div>
</div>
