<div class="center">
	<h1><%= @hike.name %> </h1>
	<div id="map-container" >
		<div id="map-canvas"></div>
	</div>
	<div class="column-2" id="hike-show" >
		<h2>Hike_name: </h2><p><%= @hike.name %> </p></br>
		<h2>Region: </h2><p><%= @hike.region %> </p></br>
		<h2>Rating: </h2><p><%= @hike.rating %> </p></br>
		<h2>Difficulty: </h2><p><%= @hike.difficulty %> </p></br>
		<h2>Distance: </h2><p><%= @hike.distance %> </p></br>
		<p>If open all season, i.e. no open_date, close_date</p>
	</div>
</div>

<!--
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.string   "name"
    t.integer  "distance"
    t.string   "region"
    t.integer  "grade"
    t.integer  "difficulty"
    t.float    "rating"
    t.datetime "open_date"
    t.datetime "close_date" -->
