<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.input :time %>
    <%= f.input :weather %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
