<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
<div class="forms">
	  <div class="form-inputs">
	    <%= f.input :name %>
	    <%= f.input :location %>
	    <%= f.input :date %>
	    <%= collection_select(:event, :hike_id, Hike.all, :id, :name, options = {:prompt => 'Please select a Hike'}) %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit %>
	  </div>
	
</div>
<% end %>
