<div class="center">
	<div class="form-space">
		<div class="form-container">
			<%= simple_form_for(@event) do |f| %>
			  <%= f.error_notification %>
				    <%= f.input :name %> </br>
				    <%= f.input :location %> </br>
				    <%= f.input :date %> </br>
				    <%= f.label :hike %>
				    <%= collection_select(:event, :hike_id, Hike.all, :id, :name, options = {:prompt => 'Please select a Hike'}) %> </br>
				    </br>
					<%= f.button :submit %>
			<% end %>
		</div>
    </div>
</div>
    

