<h1><%= @event.name %></h1>
<div class="center">
		
	<p id="notice"><%= notice %></p>
	<h3><%= days_left( DateTime.now.to_date, @event.date.to_date ) %> </h3>
	<div class="centering">
		<p> <strong>Date:</strong> <%= @event.date.to_date.to_formatted_s(:long_ordinal) %> </p>
	 	<p> <strong>Time:</strong> <%= @event.date.to_s(:time) %></p>
	 	<p> <strong>Meet up Location:</strong> <%= @event.location %></p>
		<p>
		  <strong>Hike:</strong>	  
		  <%=
		  	@hike = Hike.find_by_id(@event.hike_id) 
		  	link_to @hike.name, hike_path(@event.hike_id, :lat => @hike.lat, :lng => @hike.lng), 'data-no-turbolink' => true 
		  %>
		  <p> <strong>Current Weather: </strong> <%= @weather_lookup.temperature %> °F at <%= @event.location %></p> 
		</p>
		<div id="event-map-container">
			<div id="map-canvas"></div>
<br>
<div class="container">
 <h2>Enter Username To Join</h2>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Username:</label>
      <div class="col-sm-10">          
        <input type="name" class="form-control" id="name" placeholder="Enter Username">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
</br>

		</div>
		</br></br></br>
		
		<%= link_to 'Edit', edit_event_path(@event) %> |
		<%= link_to 'Back', events_path %>
	</div>
</div>