<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
	<div id="main-nav">
		<ul>
			<li><h3><%= link_to 'SLOG', root_path %></h3> </li> |
			<li>Trails</li> |
			<li><%= link_to 'Social', :controller => :social, :action => :social_list %></li> |
			<li>Forums</li> |
			<li><%=  link_to 'Log In', new_session_path %></li>
		</ul>
	</div>

	<!-- age specific starts here -->
	<%= yield %>

</div> <!--wrapper-->

<div id="footer">
	<%= link_to 'Home', root_path %>
</div>

</body>
</html>
