<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
	<div id="main-nav">
		<ul>
			<li><h3><%= link_to 'SLOG', current_user %></h3> </li> |
			<li><%= link_to 'Home', current_user %></li> |
			<% if current_user %>
				Logged in as: <%= current_user.username %>
       			<%= link_to "Log Out", session_path("current"), method: "delete" %>
			<% else %>
			   <%= link_to 'Log In', new_session_path %>
			<% end %>
		</ul>
	</div>

	<!-- age specific starts here -->
	<%= yield %>

</div> <!--wrapper-->

<div id="footer">
	<%= link_to 'Home', root_path %>
</div>

</body>
</html>
