<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %> </title>
  <%= favicon_link_tag 'SLOGo.png'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag	 'welcome.scss' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>	 

<div id="wrapper">

	<!-- age specific starts here -->
	<%= yield %>

</div> <!--wrapper-->

<div id="welcome-footer">
	<%= link_to 'Browse Hikes', :controller => :hikes, :action => :index   %> |
	<%= link_to 'Home', root_path %>
</div>

</body>
</html>
